.projectCardContainer{
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 25px;
  position: relative;
}

.projectCard{
  width: 391px;
  height: 391px;
  position: relative;
  background-image: url('../../assets/images/jumlatyLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.projectExpContainer{
  background-color: #101010;
  height: 30%; /* This makes the bottom half black */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.text {
  color: white; /* Text color */
  text-align: center;
  padding: 20px; /* Add padding to center the text within the black part */
}