@media (min-width: 900px) {
    .mx-w-50 {
      max-width: 50% !important;
    }
  }

  .cardShadow{
    box-shadow: $shadowBackground;
  }

 .home {
  width: 100%;
  height: 100vh;
  &-coverImage {
      width: 100%;
      height: 100vh;
      margin: 0px 0px 15px 0px;
      object-fit: cover;
    }
  }
.carousel-heigth{
  height: 100%;
}

.coverImageContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  border: 3px solid rgba($rgbBlueCover, 0.8);
  border-radius: 1rem;
  background-color: rgba($rgbBlueCover, 0.15);
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.screenOverlay{
  background-size: 100% 9px !important;
  background: linear-gradient(rgba($rgbBlueCover, 0.15),rgba($rgbBlueCover, 0.15) 3px,transparent 3px,transparent 9px);
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  z-index: 2;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}